<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.spb">

    <uses-sdk tools:overrideLibrary="org.litepal"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/> <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/> <!-- 录音 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/> <!-- 播音 -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_ADDED"/>
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_CHANGED"/>
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_INSTALL"/>
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_REPLACED"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
            android:name=".app.MyApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:requestLegacyExternalStorage="true"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true">
        <activity android:name=".view.activity.SignInPage">
        </activity>
        <activity
                android:name=".view.activity.SendNewVideoPage"
                android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name=".view.activity.UserPrivateChatPage"
                android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data
                        android:host="com.example.spb"
                        android:pathPrefix="/conversation/"
                        android:scheme="rong"/>
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.SearchUserPage">
        </activity>

        <meta-data
                android:name="com.baidu.lbsapi.API_KEY"
                android:value="arOOxotQnnPzmrI7Lw9X4o0dD2bIn8pT">
        </meta-data>

        <service
                android:name="com.baidu.location.f"
                android:enabled="true"
                android:process=":remote">
        </service>

        <activity
                android:name=".view.activity.SendNewBarPage"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity android:name=".view.activity.TopicBarPage">
        </activity>
        <activity android:name=".view.activity.UserQrPage">
        </activity>
        <activity android:name=".view.activity.QRPage">
        </activity>
        <activity android:name=".view.activity.SecondHandStorePage">
        </activity>
        <activity android:name=".view.activity.UserCoursePage">
        </activity>
        <activity android:name=".view.activity.UserDiaryPage">
        </activity>
        <activity android:name=".view.activity.UserCollectPage">
        </activity>
        <activity android:name=".view.activity.AttentionTopicPage">
        </activity>
        <activity android:name=".view.activity.NoticePage">
        </activity>
        <activity android:name=".view.activity.AttentionUserPage">
        </activity>
        <activity android:name=".view.activity.SetUpPage">
        </activity>
        <activity android:name=".view.activity.ChangeInformationPage">
        </activity>
        <activity android:name=".view.activity.PersonalSpacePage">
        </activity>
        <activity
                android:name=".view.activity.PostBarDetailPage"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name=".view.activity.HomePage"
                android:label="@string/title_activity_user_home_page"
                android:theme="@style/NoBackgroundTheme">
        </activity>
        <activity android:name=".view.activity.UserForgotpasswordPage">
        </activity>
        <activity
                android:name=".view.activity.UserRegisteredPage"
                android:windowSoftInputMode="stateVisible|adjustResize">
        </activity>
        <activity android:name=".view.activity.FirstPage">
        </activity>
        <activity
                android:name=".view.activity.EnterPage"
                android:theme="@style/EnterPageBg">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity> <!-- 适配华为（huawei）刘海屏 -->
        <meta-data
                android:name="android.notch_support"
                android:value="true"/> <!-- 适配小米（xiaomi）刘海屏 -->
        <meta-data
                android:name="notch.config"
                android:value="portrait|landscape"/> <!-- ############################配置友盟push ################################## -->
        <service
                android:name="com.taobao.accs.ChannelService"
                android:exported="true"
                android:process=":channel">
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.SERVICE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.ELECTION"/>
            </intent-filter>
        </service>
        <service
                android:name="com.taobao.accs.data.MsgDistributeService"
                android:exported="true">
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.RECEIVE"/>
            </intent-filter>
        </service>

        <receiver
                android:name="com.taobao.accs.EventReceiver"
                android:process=":channel">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>

                <data android:scheme="package"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT"/>
            </intent-filter>
        </receiver>
        <receiver
                android:name="com.taobao.accs.ServiceReceiver"
                android:process=":channel">
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.COMMAND"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.START_FROM_AGOO"/>
            </intent-filter>
        </receiver>

        <service
                android:name="com.taobao.accs.internal.AccsJobService"
                android:permission="android.permission.BIND_JOB_SERVICE"
                android:process=":channel"/>
        <service
                android:name="com.taobao.accs.ChannelService$KernelService"
                android:process=":channel"/>
        <service
                android:name="org.android.agoo.accs.AgooService"
                android:exported="true">
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.RECEIVE"/>
            </intent-filter>
        </service>
        <service
                android:name="com.umeng.message.UmengIntentService"
                android:exported="true"
                android:process=":channel">
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RECEIVE"/>
            </intent-filter>
        </service>
        <service
                android:name="com.umeng.message.XiaomiIntentService"
                android:exported="true"
                android:process=":channel">
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RECEIVE"/>
            </intent-filter>
        </service>

        <receiver
                android:name="com.taobao.agoo.AgooCommondReceiver"
                android:exported="true"
                android:process=":channel">
            <intent-filter>
                <action android:name="${applicationId}.intent.action.COMMAND"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>

                <data android:scheme="package"/>
            </intent-filter>
        </receiver>

        <service
                android:name="com.umeng.message.UmengMessageIntentReceiverService"
                android:exported="true"
                android:process=":channel">
            <intent-filter>
                <action android:name="org.android.agoo.client.MessageReceiverService"/>
            </intent-filter>
        </service>

        <receiver
                android:name="com.umeng.message.NotificationProxyBroadcastReceiver"
                android:exported="false"/>

        <service
                android:name="com.umeng.message.UmengMessageCallbackHandlerService"
                android:exported="false"
                android:permission="android.permission.BIND_JOB_SERVICE">
            <intent-filter>
                <action android:name="com.umeng.messge.registercallback.action"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.enablecallback.action"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.disablecallback.action"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.message.handler.action"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.message.sendmessage.action"/>
            </intent-filter>
        </service>
        <service
                android:name="com.umeng.message.UmengDownloadResourceService"
                android:exported="false"
                android:permission="android.permission.BIND_JOB_SERVICE"/>

        <provider
                android:name="com.umeng.message.provider.MessageProvider"
                android:authorities="${applicationId}.umeng.message"
                android:exported="false">
            <grant-uri-permission android:pathPattern=".*"/>
        </provider>
    </application>

</manifest>