<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.spb">

    <uses-sdk tools:overrideLibrary="org.litepal"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/> <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/> <!-- 录音 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/> <!-- 播音 -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
            android:name=".app.MyApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:requestLegacyExternalStorage="true"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true">
        <activity android:name=".view.activity.SearchUserPage">
        </activity>

        <meta-data
                android:name="com.baidu.lbsapi.API_KEY"
                android:value="arOOxotQnnPzmrI7Lw9X4o0dD2bIn8pT">
        </meta-data>

        <service
                android:name="com.baidu.location.f"
                android:enabled="true"
                android:process=":remote">
        </service>

        <activity
                android:name=".view.activity.SendNewBarPage"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity android:name=".view.activity.TopicBarPage">
        </activity>
        <activity android:name=".view.activity.UserQrPage">
        </activity>
        <activity android:name=".view.activity.QRPage">
        </activity>
        <activity android:name=".view.activity.SecondHandStorePage">
        </activity>
        <activity android:name=".view.activity.UserCoursePage">
        </activity>
        <activity android:name=".view.activity.UserDiaryPage">
        </activity>
        <activity android:name=".view.activity.UserCollectPage">
        </activity>
        <activity android:name=".view.activity.AttentionTopicPage">
        </activity>
        <activity android:name=".view.activity.NoticePage">
        </activity>
        <activity android:name=".view.activity.AttentionUserPage">
        </activity>
        <activity android:name=".view.activity.SetUpPage">
        </activity>
        <activity android:name=".view.activity.ChangeInformationPage">
        </activity>
        <activity android:name=".view.activity.PersonalSpacePage">
        </activity>
        <activity
                android:name=".view.activity.PostBarDetailPage"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name=".view.activity.HomePage"
                android:label="@string/title_activity_user_home_page">
        </activity>
        <activity android:name=".view.activity.UserForgotpasswordPage">
        </activity>
        <activity
                android:name=".view.activity.UserRegisteredPage"
                android:windowSoftInputMode="stateVisible|adjustResize">
        </activity>
        <activity android:name=".view.activity.FirstPage">
        </activity>
        <activity android:name=".view.activity.EnterPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity> <!-- 适配华为（huawei）刘海屏 -->
        <meta-data
                android:name="android.notch_support"
                android:value="true"/> <!-- 适配小米（xiaomi）刘海屏 -->
        <meta-data
                android:name="notch.config"
                android:value="portrait|landscape"/>
    </application>

</manifest>